.Input {
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
}

.Label {
	display: block;
	font-weight: bold;
	margin-bottom: 8px;
}

.InputElement {
	outline: none;
	font: inherit;
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 6px 10px;
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.InputElement:focus {
	outline: none;
	background-color: #ccc;
}

.Invalid {
	border: 1px solid red;
	background-color: rgb(236, 148, 139);
}

.Validation {
	color: red;
	margin: 5px 0;
}
