.NavigationItem {
	margin: 10px 0;
	box-sizing: border-box;
	display: block;
	height: 100%;
}

.NavigationItem a {
	color: #00bcd4;
	text-decoration: none;
	width: 100%;
	box-sizing: border-box;
	display: block;
}

.NavigationItem:hover,
.NavigationItem:active,
.NavigationItem.active {
	color: #00bcd4;
}

@media (min-width: 500px) {
	/*dkien là khi nhỏ hơn 500px thì css bên trong k có hiệu lực */
	.NavigationItem {
		margin: 0;
		display: block;
		width: auto;
		align-items: center;
	}

	.NavigationItem a {
		color: white;
		height: 100%;
		padding: 4px 7px;
		border-bottom: 4px solid transparent;
	}

	.NavigationItem:hover,
	.NavigationItem:active,
	.NavigationItem.active {
		background-color: #ffa931;
		border-bottom: 1px solid #40a4c8;
		color: white;
	}
}
