.NavigationItem {
	margin: 0;
	box-sizing: border-box;
	display: flex;
	height: 100%;
	align-items: center;
}

.NavigationItem a {
	color: white;
	text-decoration: none;
	height: 50%;
	padding: 16px 10px;
	border-bottom: 1px solid transparent;
	display: block;
}

.NavigationItem:hover,
.NavigationItem:active,
.NavigationItem.active {
	background-color: #ffa931;
	border-bottom: 4px solid #00bcd4;
	color: white;
}
